.container {
    margin: 30px 0;
    background: repeating-linear-gradient(45deg,
            #f6f9fc,
            #f6f9fc 10px,
            #e1e8f0 10px,
            #e1e8f0 20px);
}

.profileContainer {
    margin: 0 auto;
    width: 450px;
    padding: 10px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
}

.profileContainer h1 {
    text-align: center;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgContainer .iconContainer {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.iconStyles {
    font-size: 40px;
}

.imageStyles {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #000;
    object-fit: cover;
}

.infoContainer {
    padding: 15px;
    position: relative;
}

.infoView {
    margin-bottom: 15px;
}

.infoView p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #3d405b;
}

.infoView .link {
    margin-bottom: 5px;
}

.infoValueContainer {
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 4px;
    margin-top: 3px;
}

.buttonBox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.buttonBox button {
    width: fill-available;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    flex: 1;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buttonBox button:hover {
    transform: scale(1.05);
}

.editBtn {
    background-color: #0082e6;
}

.logoutBtn {
    background-color: #ed4134;
}

.buttonBox button i {
    margin-left: 5px;
}



.imgEditBox {
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

.imgEditBox .camIcon {
    position: absolute;
    z-index: 50;
    font-size: 20px;
    bottom: -5px;
    right: -5px;
    background-color: #fff;
    padding: 5px;
    color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.imgEditBox:hover .camIcon {
    transform: scale(1.1);
}

.linkWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.linkWrapper i {
    color: red;
    cursor: pointer;
}

.addBtn {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #0082e6;
    color: #fff;
    display: block;
    outline: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.Height {
    width: 100%;
    height: 100vh;
}