.Hsize {
  font-size: 50px;
  color: #0082e6;
  font-weight: bold;

}

.subHeader {
  font-size: 18px;
  color: #024980;
  font-weight: 600;
}

/* .Height{
  min-height: 100vh;
} */
.custom-bg {
  background-color: rgb(237, 237, 237);

}

.Height {
  min-height: 60vh;
}

.HW {
  height: 400px !important;
}