.footerDistributed {
  background-color: white;
  padding: 20px 5px;
  height: 120px;
}

.footerDistributed>div {
  width: 100%;
}

.socialIcons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  font-size: 25px;
  cursor: pointer;
}

.icon a {
  text-decoration: none;
  color: black;
}