.custom-bg {
  /* background-color: rgb(237, 237, 237); */
  background: repeating-linear-gradient(45deg,
      #f6f9fc,
      #f6f9fc 10px,
      #e1e8f0 10px,
      #e1e8f0 20px);
  min-height: 59vh;
}

/* .Home {
  background: repeating-linear-gradient(45deg,
      #f6f9fc,
      #f6f9fc 10px,
      #e1e8f0 10px,
      #e1e8f0 20px);
} */

.Modal-title {
  text-align: center;
}

.custom-modal-header .btn-close {
  color: #ffff;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.custom-modal-header .btn-close:hover {
  background-color: rgb(46, 83, 215);
  color: #ffff;
}

.Height {
  height: 100vh;
  width: 100%;
}

.Hsize {
  font-size: 50px;
  color: #0082e6;
  font-weight: bold;
}

.subHeader {
  font-size: 18px;
  color: #024980;
  font-weight: 600;
}

.Height {
  min-height: 100vh;
}

.BtnAdv {
  outline: none !important;
  border: none !important;
  padding: 20px !important;
  border-radius: 8px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #fff !important;
  background-color: #41adff !important;
  transition: all 0.3s ease-in-out !important;
  height: 60px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.BtnAdv:hover {
  transform: scale(1.05) !important;
}